<div>
    <div style="margin-top: 10px;">
        <div class="xai-image-search-options">
            <div class="xai-txt-img-search-wrapper">
                <input class="xai-txt-img-search" type="text" placeholder="Enter image search phrase"/>
            </div>
            <div class="xai-btn-exec-img-search-wrapper">
                <button class="xai-btn-exec-img-search tingle-btn tingle-btn--small">Search google images</button>
            </div>
        </div>
        <div id="xai-tweet-img-results"></div>
    </div>
    <div class="xai-img-next-page">
      
    </div>
</div>